<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Hierarchy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        ul {
            list-style-type: none;
        }

        li {
            margin-left: 20px;
        }
        .highlight {
            background-color: #ffff99;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Employee Hierarchy</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
        <a href="{% url 'employee_list' %}" class="btn btn-info">Employee List</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
    <ul>
        {% for employee in employees %}
            <li>
                <div class="btn btn-link load-subordinates" data-id="{{ employee.id }}">{{ employee.name }} - {{ employee.position }}</div>
                <div class="subordinates" id="subordinates-{{ employee.id }}" data-id="{{ employee.id }}">
                    <ul>
                        {% for subordinate in employee.subordinates_list %}
                            <li>
                                <div class="btn btn-link load-subordinates" data-id="{{ subordinate.id }}">{{ subordinate.name }} - {{ subordinate.position }}</div>
                                <div class="subordinates" id="subordinates-{{ subordinate.id }}" data-id="{{ subordinate.id }}"></div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<script>
$(document).ready(function () {
    function loadSubordinates() {
        var employeeId = $(this).data('id');
        var subordinatesDiv = $('#subordinates-' + employeeId);
        if (subordinatesDiv.is(':empty')) {
            $.ajax({
                url: '/employees/load_subordinates/' + employeeId + '/',
                method: 'GET',
                success: function (data) {
                    subordinatesDiv.html(data);
                    subordinatesDiv.find('.load-subordinates').click(loadSubordinates);
                    makeDraggableAndDroppable();
                }
            });
        } else {
            subordinatesDiv.toggle();
        }
    }

    function makeDraggableAndDroppable() {
        $('.load-subordinates').draggable({
            revert: "invalid",
            helper: "clone"
        });

        $('.load-subordinates').droppable({
            greedy: true,
            over: function(event, ui) {
                $(this).addClass('highlight');
            },
            out: function(event, ui) {
                $(this).removeClass('highlight');
            },
            drop: function (event, ui) {
                var employeeId = ui.draggable.data('id');
                var newManagerId = $(this).data('id');
                $(this).removeClass('highlight');
                $.ajax({
                    url: '/employees/change_manager/',
                    method: 'POST',
                    data: {
                        'employee_id': employeeId,
                        'new_manager_id': newManagerId
                    },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                    },
                    success: function (data) {
                      var draggedElement = ui.draggable.detach();
                      var newListItem = $('<li></li>').append(draggedElement);
                      var subordinatesUl = $('#subordinates-' + newManagerId + ' > ul');
                      if (subordinatesUl.length === 0) {
                            subordinatesUl = $('<ul></ul>');
                            $('#subordinates-' + newManagerId).append(subordinatesUl);
                      }
                      subordinatesUl.append(newListItem);
                    }
                });
            }
        });
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $('.load-subordinates').click(loadSubordinates);
    makeDraggableAndDroppable();
});
</script>
</body>
</html>
